@use "../../styles/partials/variables" as *;

.exercise-list {
  &__each {
    display: flex;
    flex-flow: row wrap;
    gap: 1rem;
    border-bottom: 2px $light-gray solid;
    padding: 1rem;
  }
  &__steps {
    width: 100%;
  }
  &__reason {
    margin-left: auto;
  }
}
