@use "../../styles/partials/fonts" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.pricing {
  display: flex;
  flex-direction: column;
  padding: 2rem 3rem;
  font-family: "Outfit";
  &__header {
    width: max-content;
    margin: 0rem auto;
    @include text-style(1.5rem, 500, 2rem);
    @include tablet {
      @include text-style(1.75rem, 500, 2.25rem);
    }
  }
  &__detail {
    @include text-style(1rem, 500, 1.25rem);
    @include tablet {
      @include text-style(1.25rem, 500, 1.75rem);
    }
  }
  &__payment-redirect {
    color: $dark-gray;
    @include text-style(1rem, 500, 1.25rem);
    @include tablet {
      @include text-style(1.25rem, 500, 1.75rem);
    }
  }
}
