@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.dashboard {
  height: 100%;
  background-image: linear-gradient($light-blue-gray);
  font-family: "Outfit";
  // background-color: $light-gray;

  &__main {
    padding: 1rem 1rem 2rem;
    margin-bottom: auto;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    @include tablet {
      padding: 2rem 2rem auto;
    }
  }

  &__heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__welcome {
    margin: 0rem;
    text-align: center;
    @include text-style(1.5rem, 500, 2rem);
    @include tablet {
      @include text-style(1.75rem, 500, 2.25rem);
    }
  }
  &__log-out {
    margin: 0rem;
    padding: 0.5rem 1rem;
    background-color: $red;
    color: $white;
    @include dimensions(max-content, max-content);
    border-radius: 1rem;
    &:hover {
      cursor: pointer;
      text-decoration: underline;
    }
  }
  &__customer-portal {
    color: $background-blue;
    text-decoration: none;
    width: max-content;
    margin-left: auto;
    &:hover {
      text-decoration: underline;
    }
  }
  &__card {
    border: 1px solid $dark-gray;
    padding: 1rem 0.5rem;
    border-radius: 1rem;
    &-title {
      margin: 0rem;
      @include text-style(1rem, 500, 1.25rem);
      @include tablet {
        @include text-style(1.25rem, 500, 1.75rem);
      }
    }
  }
  &__icon {
    @include dimensions(3.125rem, 3.125rem);
  }
}
