@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.login-dashboard {
  margin: 2rem 1rem auto;
  display: flex;
  justify-content: space-between;
  @include tablet {
    margin: 2rem 2rem auto;
  }
  // &__welcome {
  //   margin: 0rem;
  // }
  &__log-out {
    margin: 0rem;
    padding: 0.5rem;
    background-color: red;
    color: $white;
    @include dimensions(max-content, max-content);
    border-radius: 1rem;
    &:hover {
      cursor: pointer;
    }
  }
}
