@font-face {
  font-family: "Newsreader";
  src: url("./assets/fonts/alternative-files/Newsreader-Light.woff2")
      format("woff2"),
    url("./assets/fonts/Newsreader-Light.woff") format("woff");
  font-weight: 300;
}

@font-face {
  font-family: "Newsreader";
  src: url("./assets/fonts/alternative-files/Newsreader-LightItalic.woff2")
      format("woff2"),
    url("./assets/fonts/Newsreader-LightItalic.woff") format("woff");
  font-style: italic;
  font-weight: 300;
}

@font-face {
  font-family: "Newsreader";
  src: url("./assets/fonts/alternative-files/Newsreader-Regular.woff2")
      format("woff2"),
    url("./assets/fonts/Newsreader-Regular.woff") format("woff");
  font-weight: 400;
}

@font-face {
  font-family: "Outfit";
  src: url("./assets/fonts/alternative-files/Outfit-Light.woff2")
      format("woff2"),
    url("./assets/fonts/Outfit-Light.woff") format("woff");
  font-weight: 300;
}

@font-face {
  font-family: "Outfit";
  src: url("./assets/fonts/alternative-files/Outfit-Medium.woff2")
      format("woff2"),
    url("./assets/fonts/Outfit-Medium.woff") format("woff");
  font-weight: 500;
}
