*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

// Set default font size
html {
  font-size: 1rem;
  font-family: "Titillium Web", sans-serif;
}

// Remove list styles on ul, ol elements
ul,
ol,
li {
  list-style: none;
}

// Make images easier to work with
img {
  max-width: 100%;
  height: auto;
  display: block;
}

// Make forms easier to work with
input,
textarea,
select {
  font: inherit;
  border-style: none;
  resize: none;
}

// Remove default button styles
button {
  border: none;
  background: none;
  cursor: pointer;
  font: inherit;
}

// Reset default anchor styles
a {
  text-decoration: none;
  color: inherit;
}
