$tablet-breakpoint: 768px;
$desktop-breakpoint: 1280px;

$background-blue: #1e90ff;
$background-green: #26e92d;
$white: #ffffff;
$black: #000000;
$light-gray: #f2f2f2;
$dark-gray: #898b8e;
$light-blue-gray: #dbe9f4;
