@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

@media print {
  .past-results {
    margin: 0rem !important;
    padding: 0rem !important;
  }
  .past-results__header,
  .past-results__id,
  .exercise-list,
  .exercise-list__each {
    margin: 0 !important;
    padding: 0.25rem 0rem !important;
    page-break-inside: avoid;
  }
  .exercise-list__steps-title {
    margin-bottom: 0.5rem !important;
  }
  .exercise-list__copyright {
    margin-bottom: 0.25rem auto 0rem !important;
  }
}

.past-results {
  margin: 0rem 3rem auto;
  padding: 2rem 0rem;
  &__header {
    display: flex;
    flex-direction: column;
    border-bottom: 2px $black solid;
    @include tablet {
      flex-direction: row;
      justify-content: space-between;
    }
    @include desktop {
      @include text-style(1.25rem, 600, 1.5rem);
    }
    &-title {
      margin: 1rem 0rem;
      @include tablet {
        margin: 1.5rem 0rem;
      }
    }
  }
  &__id {
    color: $dark-gray;
    margin: 0rem 0rem 1rem;

    @include tablet {
      margin: 1.5rem 0rem;
      align-self: center;
    }
  }
}

.exercise-list {
  display: flex;
  flex-direction: column;

  &__each {
    display: flex;
    flex-flow: row wrap;
    border-bottom: 2px $dark-gray dotted;
    @include tablet {
      padding: 0rem 1rem;
    }
    &-step {
      margin-left: 1.5rem;
      padding-bottom: 0.125rem;
    }
  }
  &__name {
    font-weight: 600;
  }
  &__steps {
    width: 100%;
    margin: 0rem;
    padding: 0rem;
    &-title {
      margin-top: 0rem;
    }
  }
  &__reason {
    display: none;
    margin: 1rem 0rem 1rem auto;
    @include tablet {
      display: flex;
    }
  }
  &__sets {
    margin-right: 2rem;
  }
  &__copyright {
    @include text-style(0.625rem, 300, 0.75rem);
    width: max-content;
    margin: 1rem auto 0rem;
  }
}

span {
  font-weight: 600;
}
