@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.form-modal {
  color: $background-green;
  width: max-content;
  margin: 0rem auto;
  border-radius: 1rem;
  text-align: center;

  &__link {
    color: $background-blue;
  }
}
