@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.header {
  padding: 2rem 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: $background-blue;
  @include tablet {
    padding: 1rem 2rem;
    justify-content: space-between;
    flex-direction: row;
  }

  &__logo {
    display: flex;
    align-items: center;
    &-image {
      height: 100px;
    }
    &-name {
      margin: 0rem;
      color: $white;
      font-family: "Outfit";
      font-weight: 400;
    }
  }
  &__nav {
    &-bar {
      display: flex;
      gap: 1rem;
      list-style-type: none;
      margin: 0rem;
      padding: 0rem;
      flex-direction: column;
      @include tablet {
        flex-direction: row;
        gap: 2rem;
      }
    }
    &-redirect {
      text-decoration: none;
      color: $white;
      &.active {
        text-decoration: underline;
      }
    }
    &-link {
      color: $white;
      @include text-style(1rem, 400, 1.25rem);
    }
  }
}
