@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.all-results {
  margin: 0rem 3rem auto;
  padding: 2rem 0rem;
  font-family: "Outfit";
  font-weight: 400;
  @include tablet {
    margin: 0rem 2rem auto;
  }
  &__header {
    text-decoration: underline;
    font-weight: 400;
  }
  &__categories {
    padding: 0.5rem 1rem;
    background-color: $light-gray;
  }
  &__date {
    margin: 0rem;
    font-weight: 400;
  }
  &__full {
    padding: 0rem;
  }
  &__each {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.5rem 1rem;
    border-bottom: 2px $light-gray solid;
    &:hover {
      background-color: $light-gray;
    }
  }
  &__redirect {
    margin: 0rem;
    font-weight: 400;
  }
  &__link {
    color: $white;
    text-decoration: none;
    padding: 1rem;
    background-color: $background-blue;
    border-radius: 2rem;
    &:hover {
      text-decoration: underline;
    }
  }
  &__redirect {
    background-color: $background-blue;
  }
  &__none-message {
    @include text-style(1.5rem, 500, 2rem);
    text-align: center;
    margin: 2rem 0rem 0rem;
    @include tablet {
      @include text-style(1.75rem, 500, 2.25rem);
    }
    &-detail {
      text-align: center;
      margin: 0.25rem 0rem 2rem;
      @include text-style(1rem, 400, 1.25rem);
      @include tablet {
        @include text-style(1.125rem, 400, 1.375rem);
        margin-top: 0.5rem;
      }
    }
  }
  &__form-redirect {
    color: $background-blue;
    text-decoration: none;
  }
}
