@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.error-page {
  display: flex;
  flex-direction: column;
  margin: 4rem auto;
  &__instruction {
    text-align: center;
  }
}
