@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.header-only {
  background-image: linear-gradient(to right, $background-blue, $light-blue);
  // background-color: $light-blue;
  padding: 0.5rem 1rem;

  &__logo {
    display: flex;
    flex-direction: row;
    width: max-content;
    text-decoration: none;
    padding: 0rem;
    &-image {
      @include dimensions(4.25rem, 4.25rem);
    }
  }
  &__nav-redirect {
    text-decoration: none;
  }
}
