@use "../../styles/partials/fonts" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.price-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  padding: 1rem;
  &__single {
    border: 1px solid $dark-gray;
    border-radius: 1rem;
    padding: 1rem;
  }
  &__product-perk {
    &-single {
      &::marker {
        content: "✔  ";
        color: $background-green;
      }
    }
  }
}
