@use "../../styles/partials/fonts" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.price-card {
  display: flex;
  flex-direction: column;
  margin: 0rem auto;
  gap: 1rem;
  padding: 1rem;
  width: max-content;
  @include tablet {
    flex-direction: row;
  }

  &__single {
    border: 0.125rem solid $dark-gray;
    border-radius: 0.375rem;
    padding: 1rem;
    width: 300px;
    // height: 450px;
  }
  &__deal {
    color: $white;
    @include text-style(2rem, 500, 2.25rem);
    margin: 0rem auto;
    padding-bottom: 1rem;
    width: max-content;
  }
  &--yearly {
    background-color: $red-orange;
    border-color: $red-orange;
  }
  &__yearly {
    &-info {
      background-color: $white;
      padding: 0.5rem 1rem;
    }
    &-detail {
      margin-bottom: 0rem;
    }
  }
  &__plan-length {
    color: $dark-gray;
    width: max-content;
    margin: 0.5rem auto;
  }
  &__price {
    @include text-style(2.5rem, 500, 2.75rem);
    width: max-content;
    margin: 1rem auto;
  }
  &__product {
    &-name {
      @include text-style(1.25rem, 500, 1.5rem);
      width: max-content;
      margin: 1rem auto;
      color: $dark-gray;
    }
    &-perk {
      &-single {
        &::marker {
          content: "✔  ";
          color: $background-green;
          //   padding-left: 2.5rem;
        }
      }
      &s {
        margin-top: 0.25rem;
      }
    }
  }
  &__stripe-redirect {
    background-color: $background-blue;
    color: $white;
    text-decoration: none;
    padding: 0.5rem 2rem;
    border-radius: 0.375rem;
    display: flex;
    margin: 0rem auto 0.5rem;
    width: max-content;
    &:hover {
      text-decoration: underline;
    }
  }
  &--monthly {
    @include tablet {
      padding-top: 76px;
    }
  }
}
