@use "./styles/partials/variables" as *;
@use "./styles/partials/fonts" as *;
@use "./styles/partials/mixins" as *;
body {
  font-family: "Newsreader", "Outfit", sans-serif;
  margin: 0rem;
  box-sizing: border-box;
  height: 100vh;
}

#root {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

button {
  background-color: $background-blue;
  border: none;
  padding: 1rem;
  border-radius: 2rem;
  color: $white;
  &:hover {
    text-decoration: underline;
  }
}

datalist {
  display: flex;
  justify-content: space-between;
  @include desktop {
    width: 75%;
    text-align: center;
    margin: 0rem auto;
  }
}
