@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.home-page {
  margin: 0rem 0rem auto;
  // padding: 2rem 0rem;
  font-family: "Outfit";
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  &__intro {
    background-color: $light-blue-gray;
    padding: 2rem 3rem;
    &-header {
      @include text-style(1.5rem, 500, 2rem);
    }
    &-sub {
      font-family: "Newsreader";
      @include text-style(1rem, 400, 1.125rem);
    }
  }
  // &__cta {
  //   display: flex;
  //   flex-direction: column;
  //   gap: 0.25rem;
  // }
  &__stat {
    @include text-style(1.5rem, 600, 1.75rem);
    margin-bottom: 0rem;
    &-source {
      margin-top: 0rem;
      width: max-content;
      margin-left: auto;
      color: $background-blue;
    }
    &-info {
      font-weight: 400;
    }
  }
  &__explanation {
    text-align: center;
    font-weight: 400;
  }
  &__redirect {
    margin: 0rem auto;
    color: $white;
    text-decoration: none;
    padding: 1rem;
    background-color: $background-blue;
    border-radius: 2rem;
    @include text-style(1rem, 400, 1.25rem);

    &:hover {
      text-decoration: underline;
    }
  }
}
