@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.faq {
  margin: 0rem 3rem auto;
  padding: 2rem 0rem;
  font-family: "Outfit";

  @include tablet {
    margin: 0rem 2rem auto;
  }
  &__question {
    display: flex;
    justify-content: space-between;
    flex-flow: row wrap;
    padding: 0rem;
    border: 1px $black solid;
    background-color: $light-gray;
    &:hover {
      cursor: pointer;
    }
    &-text {
      @include text-style(1rem, 500, 1.125rem);
      padding-left: 1rem;
    }
    &-expand {
      padding-right: 1rem;
    }
  }
  &__answer {
    @include text-style(1rem, 300, 1.125rem);
    margin: 0rem;
    padding: 1rem;
    background-color: $white;
    &-warning {
      @extend .faq__answer;
    }
    &-list {
      @extend .faq__answer;
    }
  }
  &__plan-link {
    color: $background-blue;
    @include text-style(1rem, 300, 1.125rem);
    background-color: $white;
    width: 100%;
  }
}
