@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.faq {
  margin: 0rem 3rem auto;
  padding: 2rem 0rem;
  font-family: "Outfit";

  @include tablet {
    margin: 0rem 2rem auto;
  }
  &__header {
    text-align: center;
    @include text-style(1.5rem, 500, 2rem);
    @include tablet {
      @include text-style(1.75rem, 500, 2.25rem);
    }
  }
  &__question {
    display: flex;
    justify-content: space-between;
    padding: 0rem;
    border-top: 1px $dark-gray solid;
    background-color: $light-blue-gray;

    &:hover {
      cursor: pointer;
    }
    &-text {
      @include text-style(1rem, 500, 1.125rem);
      padding-left: 1rem;
      width: max-content;
    }
    &-expand {
      padding-right: 1rem;
    }
  }
  &__answer {
    @include text-style(1rem, 300, 1.125rem);
    margin: 0rem;
    padding: 1rem;
    background-color: $white;
    &--top {
      padding: 0rem 1rem;
    }
    &-warning {
      @include text-style(1rem, 300, 1.125rem);
      margin: 0rem;
      padding: 0rem 1rem;
    }
    &-list {
      padding-left: 2.5rem;
      @include text-style(1rem, 300, 1.125rem);
      margin: 0rem;
    }
    &-full {
      background-color: $white;
      width: 100%;
      padding: 1rem 0rem;
      display: flex;
      flex-direction: column;
      gap: 1rem;
    }
  }
  &__plan-link {
    color: $background-blue;
    @include text-style(1rem, 300, 1.125rem);
    background-color: $white;
    width: 100%;
    padding: 0rem 1rem;
    margin: 0rem;
  }
  &__contact {
    &-info {
      @include text-style(1rem, 500, 1.125rem);
      text-align: center;
    }
    &-email {
      color: $background-blue;
    }
  }
  &--last-answer {
    border-bottom: 1px $dark-gray solid;
  }
}
