@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.checkout-success {
  font-family: "Outfit";
  font-weight: 200;
  margin: 4rem 3rem;
  //   padding: 2rem 0rem;
  text-align: center;
  &__header {
    color: $background-green;
    @include text-style(2rem, 500, 2.6875rem);
    @include tablet {
      @include text-style(2.25rem, 500, 2.5rem);
    }
  }
  &__message {
    @include text-style(1rem, 400, 1.25rem);
    @include tablet {
      @include text-style(1.25rem, 400, 1.375rem);
    }
  }
  &__email {
    color: $background-blue;
  }
  &__final {
    @extend .checkout-success__message;
  }
}
